
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



<label>Referansların Toplam Sayısı</label>
@ViewBag.v1
<br />
<label>
    İstanbul'daki Referans Sayısı
</label>
    @ViewBag.v2
<br />
<label>
    Yazılım Mühendisi Haricindeki Kişi Sayısı
</label>
        @ViewBag.v3
<br />
<label>
    Şehri Trabzon olan Kişinin İsmi
</label>
            @ViewBag.v4
<br />
<label>
    Referansların Ortalaması
    @ViewBag.v5
</label>